* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease, color 0.5s ease;
}

.container {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 45px;
    justify-content: space-between;
    transition: background-color 0.5s ease;
}

.buscar {
    display: flex;
    gap: 6px;
    padding: 10px;
}

.input-cidade {
    height: 38px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 14px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: 400px;
}

.botao-busca {
    height: 38px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-busca {
    width: 20px;
}

.cidade-horario {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.temperatura {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.5s ease;
}

.temperatura p {
    font-size: 25px;
}

.temperatura h1 {
    font-size: 60px;
}

.temp-sensacao {
    display: flex;
    align-items: center;
    gap: 10px;
}

.seta-cima {
  color: red;
  font-weight: bold;
}

.seta-baixo {
  color: green;
  font-weight: bold;
}


.previsao-semana {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.dia-semana {
    cursor: pointer;
    background-color: hsla(0, 0.00%, 50.20%, 0.38);
    width: 160px;
    height: 160px;
    border-radius: 15px;
    padding: 15px;
    flex-direction: column;
    display: flex;
    gap: 15px;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.dia-semana img {
    width: 35px;
}

.dia-semana p {
    font-size: 20px;
}

.previsao-dia {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* ===================== */
/* TEMAS DIA E NOITE     */
/* ===================== */

.tema-dia {
    background-image: url("./assets/dia.jpg");
    color: #000000;
}

.tema-noite {
    background-image: url("./assets/noite.jpg");
    color: #ffffff;
}

.tema-dia header {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
}

.tema-noite header {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.tema-dia .temperatura,
.tema-dia .dia-semana {
    color: #000000;
}

.tema-noite .temperatura,
.tema-noite .dia-semana {
    color: #ffffff;
}


.tema-dia .input-cidade {
    color:rgba(0, 0, 0, 0.8);
}

.tema-noite .input-cidade {
    color:rgba(255, 255, 255, 0.84);
}



